@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Montserrat:wght@300;400;500&display=swap');



*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root{
  --first-color: #d38e0e;
}
body{
 font-family: 'Montserrat', sans-serif;
  padding: 1rem 200px 0px 200px;

}

html{
  scroll-behavior: smooth;
}
.header{
    
}
.header-title{
  color: var(--first-color);
}
.navbar{
 display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
  color: black;
}
.nav--link{
margin-left: 1rem;
}
.brand{
  display: flex;
  margin-top: 1rem;
  padding-left: 0.5rem;
}


.brand-left{

  
  width: 60%;
}
.brand-right{
  
  width: 40%;
}

.img-container{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 0.8rem solid var(--first-color);   
}
.img-container img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 0.8rem solid white; 
  }
.brand-left-header{
  font-size: 2rem;
}
.brand-left-description{
  margin-top: 0.5rem;
}
.btn{
  margin-top: 2rem;
  width: 25%;
  background: none;
  font-size: 1rem;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0.3em 0.3em var(--first-color),inset 0.3em 0.3em var(--first-color);
}
.btn:hover{
  box-shadow: 0em 0em var(--first-color),inset 0em 0em var(--first-color);
}
.partners{
  display: flex;
  margin-top: 2rem;
}
.partners img{
  width: 25%;
}
.presentation{
  text-align: center;
  margin-top: 2rem;
}
.p{
  font-size: 1.9rem;
  padding: 1rem 200px 0px 200px;
}
.je-suis{
  font-size: 5rem;
}
.skills{
  margin-top: 1rem;
  display: flex;
 
  
}
.skills-left{
  width: 20%;

}
.skills-right{
  width: 80%;

  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
}
.cards{
  margin-top: 1rem;
 
  display: flex;
  justify-content: space-around;
}
.card{
  width: 300px;
  height: 300px;
  margin-left: 0.5rem;
  border-radius: 2.5rem;
  box-shadow: 0.1rem 0.1rem 1rem black;
  display: flex;
  flex-direction: column;
}
.replit{
  color: var(--first-color);
  padding: 2rem;
}
.card img{
  width: 100%;
  border-radius: 2.5rem;
}
.card h3{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 30px;
  
}

h2{
  font-size: 4rem;
  margin-top: 1rem;
  
}
.competences{
    
  margin-top: 20rem;
  display: flex;
  justify-content: space-between;
}
.competences-left{
  width: 50%;
  display: flex;
  justify-content: space-between;
 
}
.comp{
  
  width: 200px;
  height: 200px;
  display: flex;
  margin-left: 0.5rem;
  border-radius: 2.5rem;
  box-shadow: 0.1rem 0.1rem 1rem #6e6e6e;
 justify-content: space-between;
}
.competences-right{
  width: 50%;
  
 text-align: end;
}
.comp img{
width: 100%;
border-radius: 2.5rem;
}
























.flex{
    display: flex;
    justify-content: space-between;
    margin-top: 20rem
    background-color: var(--first-color);
}
footer{

   border: var(--first-color) 2rem solid;
    margin-top: 20rem;
}
.icones{
    width: 4rem;
    padding: 10px;
    justify-content: space-between;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}
.icones :hover{
    width: 50px; /* on affiche l'image au carré */
  height: 50px;
  border-radius: 50%;  /* on arrondit l'image */
  -webkit-transform: rotate(360deg); /* rotation de l'image */
  transform: rotate(360deg);
}




  


  

 
  

 
  
  
